
:root {
	--article-text-color: rgba(43, 43, 43, 1);
	--article-light-text-color: rgba(85, 85, 85, 1);
	--article-lighter-text-color: rgba(128, 128, 128, 1);
	--article-verylight-text-color: rgba(170, 170, 170, 1);
	
	--article-aside-background: rgba(0, 0, 0, 0.075);
	--article-aside-color: orange;

	--article-font: "Merriweather", serif;
	--article-font-weight: 300;
	--article-serif-font: 'Prata', serif;
	--article-serif-font-weight: normal;
	--article-sans-serif-font: 'Roboto', sans-serif;
	--article-sans-serif-font-weight: 300;
	--article-condensed-sans-serif-font: 'Oswald', sans-serif;
	--article-condensed-sans-serif-font-weight: normal;
}


article.article {
	font-family: var(--article-font);
	font-weight: var(--article-font-weight);
	font-style: normal;

	/* Counters for auto-numbering */
	counter-reset: CHAPTER_NUM FIGURE_NUM SECTION_NUM SUBSECTION_NUM SUBSUBSECTION_NUM;
}


article.article header {
}
article.article header > h1 {
	font-family: var(--article-serif-font);
	font-weight: var(--article-serif-font-weight);
	font-size: 2.75rem;
}
article.article header > h2 {
	font-family: var(--article-sans-serif-font);
	font-weight: var(--article-sans-serif-font-weight);
	font-size: 1.5rem;
	
	color: var(--article-verylight-text-color);
}


article.article a {
	color: red;
}


/* WHOA! */
/*
@media screen and (prefers-color-scheme: dark) {
	body {
		background: black;
		color: white;
	}
}
*/


article.article > h1, /* Chapter */
article.article > h2, /* Numbered Sections */
article.article > h3,
article.article > h4,
article.article > h5, /* Minor Section */
article.article > h6 {
	font-family: var(--article-sans-serif-font);
	font-weight: 300;
}

article.article > h1 {
	font-weight: normal;
}

article.article > h1,
article.article > h2 {
	font-size: 2.25rem;
	padding-top: 1.5rem;
}
article.article > h3 {
	font-size: 2.0rem;
	padding-top: 0.75rem;
}
article.article > h4 {
	font-size: 1.75rem;
	padding-top: 0.5rem;
}
article.article > h5,
article.article > h6 {
	font-size: 1.5rem;
	font-style: italic;
	margin-bottom: 0.5rem;
}


article.article > h3 + *,
article.article > h3 + :not(p) + p,
article.article > h4 + *,
article.article > h4 + :not(p) + p {
	margin-top: 1.0rem;
	/*break-inside: avoid;*/
}
article.article > h5 + *,
article.article > h5 + :not(p) + p,
article.article > h6 + *,
article.article > h6 + :not(p) + p {
	margin-top: 0.5rem;
	/*break-inside: avoid;*/
}

article.article > h1:before {
	counter-increment: CHAPTER_NUM;
	counter-reset: FIGURE_NUM SECTION_NUM SUBSECTION_NUM SUBSUBSECTION_NUM;
}
article.article > h2:before {
	counter-increment: SECTION_NUM;
	counter-reset: SUBSECTION_NUM SUBSUBSECTION_NUM;
}
article.article > h3:before {
	counter-increment: SUBSECTION_NUM;
	counter-reset: SUBSUBSECTION_NUM;
}
article.article > h4:before {
	counter-increment: SUBSUBSECTION_NUM;
}
article.article figure:before {
	counter-increment: FIGURE_NUM;
}


article.article.numbered > h2:before {
	content: counter(SECTION_NUM) ". ";
	margin-right: 1rem;
}
article.article.numbered > h3:before {
	content: counter(SECTION_NUM) "." counter(SUBSECTION_NUM) ". ";
	margin-right: 1rem;
}
article.article.numbered > h4:before {
	content: counter(SECTION_NUM) "." counter(SUBSECTION_NUM) "." counter(SUBSUBSECTION_NUM) ". ";
	margin-right: 1rem;
}
article.article.numbered figcaption:before {
	content: "Figure " counter(FIGURE_NUM) ". ";
	margin-right: 1rem;
}


article.article.chaptered > h2:before {
	content: counter(CHAPTER_NUM) "." counter(SECTION_NUM) ". ";
	margin-right: 1rem;
}
article.article.chaptered > h3:before {
	content: counter(CHAPTER_NUM) "." counter(SECTION_NUM) "." counter(SUBSECTION_NUM) ". ";
	margin-right: 1rem;
}
article.article.chaptered > h4:before {
	content: counter(CHAPTER_NUM) "." counter(SECTION_NUM) "." counter(SUBSECTION_NUM) "." counter(SUBSUBSECTION_NUM) ". ";
	margin-right: 1rem;
}
article.article.chaptered figcaption:before {
	content: "Figure " counter(CHAPTER_NUM) "." counter(FIGURE_NUM) ". ";
	margin-right: 1rem;
}



article.article > address {
	/*margin-bottom: 2.0rem;*/
	font-size: 0.8rem;
	font-style: normal;
}

article.article > address > div {
	display: inline-block;
	margin-right: 2rem;
}

article.article > address .title {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	color: var(--article-lighter-text-color);
}

article.article > address .author {
	font-weight: bold;
}

article.article > footer {
	padding-top: 0.5rem;
	border-top: 1px solid var(--article-verylight-text-color);
	overflow: hidden;
}

article.article > footer img {
	float: left;
	padding-right: 1.0rem;
}

article.article > footer div {
	font-family: sans-serif;
	color: var(--article-lighter-text-color);
	font-size: 0.8rem;
	text-align: justify;
}

/* Justified content */
article.article > p,
article.article aside {
	text-align: justify;
	text-rendering: optimizelegibility;
	word-break: break-word;
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
	hyphens: auto;
}

/* Paragraphs */
article.article > p {
	line-height: 1.65rem;
	
	/* Font */
	color: var(--article-text-color);
}

article.article aside {
	-webkit-print-color-adjust: exact !important;
	print-color-adujst: exact !important;
	
	margin-bottom: 0.5rem; /* Necessary, because asides are always nested */
	padding: 1rem 2rem;
	max-width: 30%;

	background: var(--article-aside-background);
	color: var(--article-light-text-color);
	
	/* Font */
	font-size: 1.0rem;
	font-style: italic;
	font-weight: normal;	
}

article.article aside, /* Default */
article.article aside.right {
	float: right;
	border-left: 5px solid var(--article-aside-color);
	margin-left: 2rem;	
	border-right: 0;
	margin-right: -2rem;
}
article.article aside.left {
	float: left;
	border-right: 5px solid var(--article-aside-color);
	margin-right: 2rem;	
	border-left: 0;
	margin-left: -2rem;
}

/* fix flow of floats */
article.article > footer {
	clear: both;
}




article.article span.lit {
	-webkit-print-color-adjust: exact !important;
	print-color-adujst: exact !important;
	
	background: rgba(0, 0, 0, 0.15);
	border: 3px solid rgba(0,0,0,0.01)
}
