
html {
	font-size: 16px;	
}

body {
	/* https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

@media print {
	html {
		font-size: 10pt !important;
	}

	article {
		page-break-after: always;
	}

	article,
	article p,
	article h1,
	article h2,
	article h3,
	article aside {
		color: black !important;
	}
	
	/* only print main */
	body > :not(main) {
		display: none !important;
	}
}


body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
nav,
main,
aside,
figure,
figcaption,
blockquote,
address,
article,
section {
	margin: 0;
	padding: 0;
}


a:not([class]) {
	text-decoration-skip-ink: auto;
}


img {
	max-width: 100%;
	display: block;
}



/*main article:not(:first-child) {*/
main article {
	margin-top: 3.0rem;
}
main article > * + * { 
	margin-top: 1.5rem;
	margin-bottom: 0.75rem;
}



/* target the children instead of the whole section, so we can override it per element */
@media screen {
	main:not(.full) article,
	main.full article > * {
		margin-left: auto;
		margin-right: auto;
	}
	
	main:not(.full) article {
		max-width: 800px; /*1080px*/
	}
	main.full article > * {
		max-width: 800px; /*1080px*/
	}
	
	/* Top-level figures will fill the width. Wrap them in a div to fit article width */
	main.full article > figure,
	main.full article > figcaption {
		max-width: inherit;
	}
}

@media print {
	main article {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}
