* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;	
}

body {
	/* https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/*
** Blocks **
nav
section
article
aside
figure
figcaption
blockquote (q is poorly supported)
address (contact information)
code
pre
header
footer
hgroup, h1-h6
head, body, html


** Missing Blocks (from Kindle) **
form
canvas
audio, video
details (expandable additional information, default closed)
summary (nested inside details block, acts as the heading)


** Objects (Void Elements) **
img (picture is poorly supported)
hr (line)
br (<br /> valid)


** Markup **
a (link, anchor)
strong (bold)
em (italics)
del (deleted/strikethru)
mark (highlighted text)
cite (make reference to a creative work, not a person)

kbd (keyboard keys)
samp (sample code)
var (variable)
data (allows you to attach a value to some selection)
*/




@media print {
	html {
		font-size: 9.5pt !important;
	}

	article {
		break-after: always;
		
		/* These are required, as page margins crop everything */
		margin-left: 2rem;
		margin-right: 2rem;
	}

	article p {
		orphans: 3;	/* at least this many lines on previous page */
		widows: 3;  /* at least this many lines on next page */
	}

	article h1,	 /* Chapter */
	article h2,  /* Numbered Sections */
	article h3,
	article h4,
	article h5,  /* Minor Section (no numbers) */
	article h6,
	/*article div, /* Wraps aside and figure */
	article figure {
		/* should avoid leaving a lonely header, but not working */
		break-before: avoid-page; /*avoid-page;*/
	}
	
	article img,
	article figure,
	article picture {
		/* should avoid printers splitting images across pages, but untested */
		break-inside: avoid;
	}

	article,
	article p,
	article h1,
	article h2,
	article h3,
	article aside {
		color: black !important;
	}
	
	/* only print main */
	body > :not(main) {
		display: none !important;
	}
}


a:not([class]) {
	text-decoration-skip-ink: auto;
}


img {
	max-width: 100%;
	display: block;
}


/* target the children instead of the whole section, so we can override it per element */
@media screen {
	main:not(.full) article,
	main.full article > * {
		margin-left: auto;
		margin-right: auto;
	}
	
	main:not(.full) article {
		max-width: 800px; /*1080px*/
	}
	main.full article > * {
		max-width: 800px; /*1080px*/
	}
	
	/* Top-level figures will fill the width. Wrap them in a div to fit article width */
	main.full article > figure,
	main.full article > figcaption {
		max-width: inherit;
	}
}

/* Book Layouts: Left and Right pages */
/*
@page :left {
	margin-right: 2cm;
	margin-left: 1cm;
}
@page :right {
	margin-left: 2cm;
	margin-right: 1cm;
}
*/

@page :first {
	
}







/****** layout specific styles *******/

/*main article:not(:first-child) {*/
main article {
	margin-top: 3.0rem;
}
/* Owl selector (* + *): any pair of elements */
main article.article > * + *,
main article.article > div > * + *,
main article.article > section > * + * {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}


