


@font-face {
	font-family: "XCharter-Regular";
	font-weight: normal;
	font-style: normal;
	src: url("font/XCharter-Roman.otf") format("opentype");
}
@font-face {
	font-family: "XCharter-Italic";
	font-weight: normal;
	font-style: italic;
	src: url("font/XCharter-Italic.otf") format("opentype");
}
@font-face {
	font-family: "XCharter-Bold";
	font-weight: bold;
	font-style: normal;
	src: url("font/XCharter-Bold.otf") format("opentype");
}
@font-face {
	font-family: "XCharter-BoldItalic";
	font-weight: bold;
	font-style: italic;
	src: url("font/XCharter-BoldItalic.otf") format("opentype");
}

@font-face {
	font-family: "XCharter-Oblique";
	font-weight: normal;
	font-style: oblique;
	src: url("font/XCharter-Slanted.otf") format("opentype");
}
@font-face {
	font-family: "XCharter-BoldOblique";
	font-weight: bold;
	font-style: oblique;
	src: url("font/XCharter-BoldSlanted.otf") format("opentype");
}

html {
	font-size: 16px;
}

@media print {
	html {
		font-size: 16px;
	}
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article div,
article p {
	margin: 0;
	padding: 0;
}

article.article header {
}
article.article header h1 {
	font-family: 'IM Fell English', serif;
	font-size: 2.25rem;
}
article.article header h2 {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1.25rem;
	
	color: rgba(150, 150, 150, 1);
}
/* kicker */
article.article header h3 {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 0.8rem;
	margin-bottom: 1.0rem;
	text-decoration: underline;
	
	color: rgba(128, 128, 192, 1);
}

/* kicker */
@media print {    
    article.article header h3 {
        display: none !important;
    }
}


article.article hgroup {
	margin-top: 2.0rem;
}

article.article hgroup h2 {
	font-family: sans-serif;
}

article.article address {
	margin-top: 1.0rem;
	margin-bottom: 2.0rem;
	font-size: 0.8rem;
}

article.article footer {
	margin-top: 1.0f;
}

article.article footer img {
	float: left;
	padding: 0.5rem;
	padding-left: 0;
	/*margin-right: 0.5em;*/
}

article.article footer p {
	font-family: sans-serif;
	color: rgba(0,0,0,0.5);	
	font-size: 0.75rem;
}

article.article {
	/*font-family: "XCharter-Regular", serif;*/
	font-family: "Merriweather", serif;
	font-weight: normal;
	font-style: normal;
}
/*
article.article em {
	font-family: "XCharter-Italic", serif;
	font-weight: normal;
	font-style: normal;
}

article.article strong {
	font-family: "XCharter-Bold", serif;
	font-weight: normal;
	font-style: normal;
}
*/


article.article p {
	margin-top: 1.25rem;
	line-height: 1.65rem;
	
	font-size: 1.0rem;
	
	text-rendering: optimizelegibility;
	word-break: break-word;
	overflow-wrap: break-word;
	
	color: rgba(42, 42, 42, 1);
	
	/*letter-spacing: 0.1rem;*/ /* Cool, gives a monospaced look*/
}


article.article aside {
	margin-top: 1.5rem;
	padding: 0.5rem;
	font-size: 1.0rem;

	width: 25%;
	float: right;
	
	font-style: italic;
	
	margin-left: 1.0rem;
	border-left: 4px solid green;
	background: rgba(0, 0, 0, 0.05);
}


article.plan {
	font-family: monospace;
}

article.plan p {
	margin-top: 1.0rem;
}

section article:not(:first-child) {
	margin-top: 3.0rem;
}

@media print {
	article {
		page-break-after: always;
	}
}
